.btnclick
{
  cursor:pointer;
  background-color: yellowgreen;
  color:rgb(0, 4, 255);
  font-weight:bolder;
  border: 100px ;

  
}

.container{
  color:red;
  text-align: center;
  cursor:pointer;
  position:relative;

}

.place input::placeholder{
  color:black;
  font-weight:bold;
  background-color: rgb(255, 247, 0);
}

body {
  background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20210510/pngtree-colorful-assignments-education-cool-school-image_700441.jpg'); 
  background-size: cover; 
  background-position:center; 
  background-repeat:repeat; 
}
